body {
	animation: portcolor 3s alternate;
	animation-iteration-count: infinite;
}
#box {
	width: 75px;
	height: 75px;

	animation: container 5s alternate;
	animation-iteration-count: infinite;
}
@keyframes container {
	0%{background-color: #1861a0; border: 5px solid #0aa054;}

	100%{background-color: #a0180a; border: 7px dotted #6b5e9e; transform: translate(300px, 300px) rotate3d(5, 0, 3, -454deg)}
}
@keyframes portcolor {
	0%{background-color:  #39b59f;}

	100%{background-color: #1d7b2a;}
}
p {
	font-family: 'Quicksand', sans-serif;

	animation: textcolor 2s alternate;
	animation-iteration-count: infinite;
}
@keyframes textcolor {
	0%{color: #96bd25;}

	100%{color: #e89b22;}
}
#footer2 {
	width: 100%;
	padding: 5px;
	border-top: 2px cyan;
	background-color: grey;
	position: fixed;
	bottom: 0;
	left: 0;
}
